{
    "swagger": "2.0",
    "info": {
      "version": "1.0.0",
      "title": "Nunux Keeper",
      "description": "Nunux Keeper"
    },
    "host": "api.nunux.org",
    "basePath": "/keeper",
    "schemes": [
      "https"
    ],
    "consumes": [],
    "produces": [
      "application/json"
    ],
    "paths": {
      "/keeper/v2/documents": {},
      "/keeper/v2/documents/61dbda6ab2c3a10026df56f8": {
        "get": {
          "summary": "Put Bookmark",
          "description": "Put Bookmark",
          "operationId": "PutBookmark",
          "parameters": [],
          "responses": {
            "default": {
              "description": "default",
              "schema": {}
            }
          }
        }
      },
      "/keeper/v2/documents/61dbdb2fb2c3a10026df56fa": {
        "get": {
          "summary": "Delete Bookmark",
          "description": "Delete Bookmark",
          "operationId": "DeleteBookmark",
          "parameters": [],
          "responses": {
            "default": {
              "description": "default",
              "schema": {}
            }
          }
        }
      },
      "/v2/documents": {
        "get": {
          "summary": "Get Bookmarks",
          "description": "Get Bookmarks",
          "operationId": "GetBookmarks",
          "parameters": [
            {
              "name": "q",
              "in": "query",
              "required": false,
              "type": "string"
            },
            {
              "name": "size",
              "in": "query",
              "required": false,
              "type": "integer"
            },
            {
              "name": "order",
              "in": "query",
              "required": false,
              "type": "string"
            }
          ],
          "responses": {
            "default": {
              "description": "default",
              "schema": {
                "type": "object",
                "properties": {
                  "total": {
                    "type": "integer",
                    "format": "int32",
                    "description": "total"
                  },
                  "hits": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "title": {
                          "type": "string",
                          "description": "title"
                        },
                        "content": {
                          "type": "string",
                          "description": "content"
                        },
                        "contentType": {
                          "type": "string",
                          "description": "contentType"
                        },
                        "origin": {
                          "type": "string",
                          "description": "origin"
                        },
                        "date": {
                          "type": "string",
                          "description": "date"
                        },
                        "labels": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "labels"
                        },
                        "attacments": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "key": {
                                "type": "string",
                                "description": "key"
                              },
                              "contentType": {
                                "type": "string",
                                "description": "contentType"
                              },
                              "origin": {
                                "type": "string",
                                "description": "origin"
                              }
                            }
                          },
                          "description": "attacments"
                        }
                      }
                    },
                    "description": "hits"
                  }
                }
              }
            }
          }
        }
      },
      "/v2/webhooks": {
        "x-ms-notification-content": {
          "description": "WebhookPayload",
          "schema": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "id"
              },
              "url": {
                "type": "string",
                "description": "url",
                "title": "WebhookUrl",
                "x-ms-visibility": "internal"
              },
              "secret": {
                "type": "string",
                "description": "secret"
              },
              "events": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "events"
              },
              "labels": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "labels"
              },
              "active": {
                "type": "boolean",
                "description": "active"
              },
              "cdate": {
                "type": "string",
                "description": "cdate"
              },
              "mdate": {
                "type": "string",
                "description": "mdate"
              }
            }
          }
        },
        "post": {
          "responses": {},
          "summary": "On Bookmark Created",
          "description": "Triggers when a New Bookmark is Created",
          "operationId": "OnBookmarkCreated",
          "x-ms-trigger": "single",
          "parameters": [
            {
              "name": "body",
              "in": "body",
              "required": false,
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "url",
                    "x-ms-notification-url": true,
                    "x-ms-visibility": "internal",
                    "title": ""
                  },
                  "secret": {
                    "type": "string",
                    "description": "secret"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "events"
                  },
                  "labels": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "labels"
                  },
                  "active": {
                    "type": "boolean",
                    "description": "active"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          ]
        }
      }
    },
    "definitions": {},
    "parameters": {},
    "responses": {},
    "securityDefinitions": {
      "oauth2_auth": {
        "type": "oauth2",
        "flow": "accessCode",
        "authorizationUrl": "https://login.nunux.org/auth/realms/nunux-keeper/protocol/openid-connect/auth",
        "tokenUrl": "https://login.nunux.org/auth/realms/nunux-keeper/protocol/openid-connect/token",
        "scopes": {
          "offline_access": "offline_access"
        }
      }
    },
    "security": [
      {
        "oauth2_auth": [
          "offline_access"
        ]
      }
    ],
    "tags": []
  }