{
  "swagger": "2.0",
  "info": {
    "title": "Dell Warranty Status",
    "description": "",
    "version": "1.0"
  },
  "host": "api.dell.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/asset-entitlements-components": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "id"
                  },
                  "serviceTag": {
                    "type": "string",
                    "description": "serviceTag"
                  },
                  "orderBuid": {
                    "type": "integer",
                    "format": "int32",
                    "description": "orderBuid"
                  },
                  "shipDate": {
                    "type": "string",
                    "description": "shipDate"
                  },
                  "productCode": {
                    "type": "string",
                    "description": "productCode"
                  },
                  "localChannel": {
                    "type": "string",
                    "description": "localChannel"
                  },
                  "productId": {
                    "type": "string",
                    "description": "productId"
                  },
                  "productLineDescription": {
                    "type": "string",
                    "description": "productLineDescription"
                  },
                  "productFamily": {
                    "type": "string",
                    "description": "productFamily"
                  },
                  "systemDescription": {
                    "type": "string",
                    "description": "systemDescription"
                  },
                  "productLobDescription": {
                    "type": "string",
                    "description": "productLobDescription"
                  },
                  "countryCode": {
                    "type": "string",
                    "description": "countryCode"
                  },
                  "duplicated": {
                    "type": "boolean",
                    "description": "duplicated"
                  },
                  "invalid": {
                    "type": "boolean",
                    "description": "invalid"
                  },
                  "entitlements": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "itemNumber": {
                          "type": "string",
                          "description": "itemNumber"
                        },
                        "startDate": {
                          "type": "string",
                          "description": "startDate"
                        },
                        "endDate": {
                          "type": "string",
                          "description": "endDate"
                        },
                        "entitlementType": {
                          "type": "string",
                          "description": "entitlementType"
                        },
                        "serviceLevelCode": {
                          "type": "string",
                          "description": "serviceLevelCode"
                        },
                        "serviceLevelDescription": {
                          "type": "string",
                          "description": "serviceLevelDescription"
                        },
                        "serviceLevelGroup": {
                          "type": "integer",
                          "format": "int32",
                          "description": "serviceLevelGroup"
                        }
                      }
                    },
                    "description": "entitlements"
                  },
                  "components": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "itemNumber": {
                          "type": "string",
                          "description": "itemNumber"
                        },
                        "partNumber": {
                          "type": "string",
                          "description": "partNumber"
                        },
                        "partQuantity": {
                          "type": "integer",
                          "format": "int32",
                          "description": "partQuantity"
                        },
                        "partDescription": {
                          "type": "string",
                          "description": "partDescription"
                        },
                        "itemDescription": {
                          "type": "string",
                          "description": "itemDescription"
                        }
                      }
                    },
                    "description": "components"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Asset Entitlement Components",
        "description": "Asset Entitlement Components",
        "operationId": "GetAssetEntitlementComponents",
        "parameters": [
          {
            "name": "servicetag",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "servicetags",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/asset-components": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "serviceTag": {
                  "type": "string",
                  "description": "serviceTag"
                },
                "orderBuid": {
                  "type": "integer",
                  "format": "int32",
                  "description": "orderBuid"
                },
                "shipDate": {
                  "type": "string",
                  "description": "shipDate"
                },
                "productCode": {
                  "type": "string",
                  "description": "productCode"
                },
                "localChannel": {
                  "type": "string",
                  "description": "localChannel"
                },
                "productId": {
                  "type": "string",
                  "description": "productId"
                },
                "productLineDescription": {
                  "type": "string",
                  "description": "productLineDescription"
                },
                "productFamily": {
                  "type": "string",
                  "description": "productFamily"
                },
                "systemDescription": {
                  "type": "string",
                  "description": "systemDescription"
                },
                "productLobDescription": {
                  "type": "string",
                  "description": "productLobDescription"
                },
                "countryCode": {
                  "type": "string",
                  "description": "countryCode"
                },
                "duplicated": {
                  "type": "boolean",
                  "description": "duplicated"
                },
                "invalid": {
                  "type": "boolean",
                  "description": "invalid"
                },
                "components": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "itemNumber": {
                        "type": "string",
                        "description": "itemNumber"
                      },
                      "partNumber": {
                        "type": "string",
                        "description": "partNumber"
                      },
                      "partQuantity": {
                        "type": "integer",
                        "format": "int32",
                        "description": "partQuantity"
                      },
                      "partDescription": {
                        "type": "string",
                        "description": "partDescription"
                      },
                      "itemDescription": {
                        "type": "string",
                        "description": "itemDescription"
                      }
                    }
                  },
                  "description": "components"
                }
              }
            }
          }
        },
        "summary": "Get Asset Components",
        "description": "Get Asset Components",
        "operationId": "GetAssetComponents",
        "parameters": [
          {
            "name": "servicetag",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/asset-entitlements": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "id"
                  },
                  "serviceTag": {
                    "type": "string",
                    "description": "serviceTag"
                  },
                  "orderBuid": {
                    "type": "integer",
                    "format": "int32",
                    "description": "orderBuid"
                  },
                  "shipDate": {
                    "type": "string",
                    "description": "shipDate"
                  },
                  "productCode": {
                    "type": "string",
                    "description": "productCode"
                  },
                  "localChannel": {
                    "type": "string",
                    "description": "localChannel"
                  },
                  "productId": {
                    "type": "string",
                    "description": "productId"
                  },
                  "productLineDescription": {
                    "type": "string",
                    "description": "productLineDescription"
                  },
                  "productFamily": {
                    "type": "string",
                    "description": "productFamily"
                  },
                  "systemDescription": {
                    "type": "string",
                    "description": "systemDescription"
                  },
                  "productLobDescription": {
                    "type": "string",
                    "description": "productLobDescription"
                  },
                  "countryCode": {
                    "type": "string",
                    "description": "countryCode"
                  },
                  "duplicated": {
                    "type": "boolean",
                    "description": "duplicated"
                  },
                  "invalid": {
                    "type": "boolean",
                    "description": "invalid"
                  },
                  "entitlements": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "itemNumber": {
                          "type": "string",
                          "description": "itemNumber"
                        },
                        "startDate": {
                          "type": "string",
                          "description": "startDate"
                        },
                        "endDate": {
                          "type": "string",
                          "description": "endDate"
                        },
                        "entitlementType": {
                          "type": "string",
                          "description": "entitlementType"
                        },
                        "serviceLevelCode": {
                          "type": "string",
                          "description": "serviceLevelCode"
                        },
                        "serviceLevelDescription": {
                          "type": "string",
                          "description": "serviceLevelDescription"
                        },
                        "serviceLevelGroup": {
                          "type": "integer",
                          "format": "int32",
                          "description": "serviceLevelGroup"
                        }
                      }
                    },
                    "description": "entitlements"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Asset Entitlements",
        "description": "Get Asset Entitlements",
        "operationId": "GetAssetEntitlements",
        "parameters": [
          {
            "name": "servicetags",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/assets": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "id"
                  },
                  "serviceTag": {
                    "type": "string",
                    "description": "serviceTag"
                  },
                  "orderBuid": {
                    "type": "integer",
                    "format": "int32",
                    "description": "orderBuid"
                  },
                  "shipDate": {
                    "type": "string",
                    "description": "shipDate"
                  },
                  "productCode": {
                    "type": "string",
                    "description": "productCode"
                  },
                  "localChannel": {
                    "type": "string",
                    "description": "localChannel"
                  },
                  "productId": {
                    "type": "string",
                    "description": "productId"
                  },
                  "productLineDescription": {
                    "type": "string",
                    "description": "productLineDescription"
                  },
                  "productFamily": {
                    "type": "string",
                    "description": "productFamily"
                  },
                  "systemDescription": {
                    "type": "string",
                    "description": "systemDescription"
                  },
                  "productLobDescription": {
                    "type": "string",
                    "description": "productLobDescription"
                  },
                  "countryCode": {
                    "type": "string",
                    "description": "countryCode"
                  },
                  "duplicated": {
                    "type": "boolean",
                    "description": "duplicated"
                  },
                  "invalid": {
                    "type": "boolean",
                    "description": "invalid"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Assets",
        "description": "Get Assets",
        "operationId": "GetAssets",
        "parameters": [
          {
            "name": "servicetags",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}